body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
    margin: 0;
  }
  
  .header-logo,.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000;
  }
  
 
  .header-nav-link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
  }
  
    .header-contacts-link {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
  }
  
  .filter-list-button {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background-color: #f5f4fa;
    color: #212121;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .projects-list-title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    color: #212121;
    margin: 10px 0 4px;
  }
  
  .projects-list-text {
    color: #757575;
    font-weight: 400;
  }
  
  .footer-address-link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: #fff;
    text-decoration: none;
  }
  